In [1]:
import pandas as pd

In [ ]:
df = pd.read_excel('C:/Users/HanJiwoon/Documents/자낳대/2022-2자낳대 쇼케이스 및 스크림데이터 .xlsx',sheet)

df.head()

In [61]:
df.iloc[0,2]

0

In [62]:
df2 = pd.DataFrame(columns=['W', 'L', 'Top', 'Jg', "Mid", "Ad", "Sup"])

for i in range(int(len(df)/5)):
    df2.loc[i] = [df.iloc[5*i, 1], df.iloc[5*i, 2], df.iloc[5*i,0], df.iloc[5*i+1,0], df.iloc[5*i+2,0], df.iloc[5*i+3,0], df.iloc[5*i+4,0]]

In [59]:
df2.to_excel('C:/Users/HanJiwoon/Documents/자낳대/test4.xlsx')

In [47]:
df2

    W  L  Top  Jg  Mid  Ad  Sup
0   1  0    6   8   13  24   27
1   0  1    5  12   18  22   30
2   0  1    5  12   18  22   30
3   1  0    6   8   13  24   27
4   0  1   31   7   18  24   30
.. .. ..  ...  ..  ...  ..  ...
67  0  1    3  10   16  19   26
68  0  1    3   8   16  19   26
69  1  0    5  10   17  20   28
70  1  0    3  10   16  20   28
71  0  1    5   8   18  19   26

[72 rows x 7 columns]

In [ ]:
for i in range(30):
    for j in range(30):
        df.contains(i)

In [50]:
df[df.Team.

AttributeError: 'DataFrame' object has no attribute 'int'